--
-- PostgreSQL database dump
--

-- Dumped from database version 10.2 (Ubuntu 10.2-1.pgdg14.04+1)
-- Dumped by pg_dump version 10.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: plpgsql; Type: EXTENSION; Schema: -; Owner: 
--

CREATE EXTENSION IF NOT EXISTS plpgsql WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION plpgsql; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION plpgsql IS 'PL/pgSQL procedural language';


SET search_path = public, pg_catalog;

SET default_tablespace = '';

SET default_with_oids = false;

--
-- Name: badges; Type: TABLE; Schema: public; Owner: fkliesnbfbnpjw
--

CREATE TABLE badges (
    badge_id smallint NOT NULL,
    badge_name character varying(50) NOT NULL,
    effect real NOT NULL,
    req_wins smallint NOT NULL
);


ALTER TABLE badges OWNER TO fkliesnbfbnpjw;

--
-- Name: badges_badge_id_seq; Type: SEQUENCE; Schema: public; Owner: fkliesnbfbnpjw
--

CREATE SEQUENCE badges_badge_id_seq
    AS smallint
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE badges_badge_id_seq OWNER TO fkliesnbfbnpjw;

--
-- Name: badges_badge_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER SEQUENCE badges_badge_id_seq OWNED BY badges.badge_id;


--
-- Name: element_types; Type: TABLE; Schema: public; Owner: fkliesnbfbnpjw
--

CREATE TABLE element_types (
    type_id smallint NOT NULL,
    type_name character varying(50) NOT NULL
);


ALTER TABLE element_types OWNER TO fkliesnbfbnpjw;

--
-- Name: element_types_type_id_seq; Type: SEQUENCE; Schema: public; Owner: fkliesnbfbnpjw
--

CREATE SEQUENCE element_types_type_id_seq
    AS smallint
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE element_types_type_id_seq OWNER TO fkliesnbfbnpjw;

--
-- Name: element_types_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER SEQUENCE element_types_type_id_seq OWNED BY element_types.type_id;


--
-- Name: jsontext; Type: TABLE; Schema: public; Owner: fkliesnbfbnpjw
--

CREATE TABLE jsontext (
    id smallint NOT NULL,
    jtext text NOT NULL
);


ALTER TABLE jsontext OWNER TO fkliesnbfbnpjw;

--
-- Name: moves; Type: TABLE; Schema: public; Owner: fkliesnbfbnpjw
--

CREATE TABLE moves (
    move_id smallint NOT NULL,
    move_name character varying(50) NOT NULL,
    element character varying(50),
    power smallint NOT NULL
);


ALTER TABLE moves OWNER TO fkliesnbfbnpjw;

--
-- Name: moves_move_id_seq; Type: SEQUENCE; Schema: public; Owner: fkliesnbfbnpjw
--

CREATE SEQUENCE moves_move_id_seq
    AS smallint
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE moves_move_id_seq OWNER TO fkliesnbfbnpjw;

--
-- Name: moves_move_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER SEQUENCE moves_move_id_seq OWNED BY moves.move_id;


--
-- Name: pokemon; Type: TABLE; Schema: public; Owner: fkliesnbfbnpjw
--

CREATE TABLE pokemon (
    pokemon_id smallint NOT NULL,
    poke_name character varying(50) NOT NULL,
    xp smallint NOT NULL,
    lvl_up smallint NOT NULL,
    level smallint NOT NULL,
    stat_points smallint NOT NULL,
    type_1 character varying(50),
    hp smallint NOT NULL,
    attack smallint NOT NULL,
    defense smallint NOT NULL,
    speed smallint NOT NULL,
    trainer character varying(50) NOT NULL
);


ALTER TABLE pokemon OWNER TO fkliesnbfbnpjw;

--
-- Name: pokemon_pokemon_id_seq; Type: SEQUENCE; Schema: public; Owner: fkliesnbfbnpjw
--

CREATE SEQUENCE pokemon_pokemon_id_seq
    AS smallint
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE pokemon_pokemon_id_seq OWNER TO fkliesnbfbnpjw;

--
-- Name: pokemon_pokemon_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER SEQUENCE pokemon_pokemon_id_seq OWNED BY pokemon.pokemon_id;


--
-- Name: trainers; Type: TABLE; Schema: public; Owner: fkliesnbfbnpjw
--

CREATE TABLE trainers (
    trainer_id smallint NOT NULL,
    name character varying(50) NOT NULL,
    password character varying(64) NOT NULL,
    badge character varying(50),
    wins smallint NOT NULL,
    pokemon_1 character varying(50),
    pokemon_2 character varying(50),
    pokemon_3 character varying(50)
);


ALTER TABLE trainers OWNER TO fkliesnbfbnpjw;

--
-- Name: trainers_trainer_id_seq; Type: SEQUENCE; Schema: public; Owner: fkliesnbfbnpjw
--

CREATE SEQUENCE trainers_trainer_id_seq
    AS smallint
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE trainers_trainer_id_seq OWNER TO fkliesnbfbnpjw;

--
-- Name: trainers_trainer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER SEQUENCE trainers_trainer_id_seq OWNED BY trainers.trainer_id;


--
-- Name: type_vs_type; Type: TABLE; Schema: public; Owner: fkliesnbfbnpjw
--

CREATE TABLE type_vs_type (
    vs_id smallint NOT NULL,
    attacker character varying(50),
    attacked character varying(50),
    multiplier numeric NOT NULL
);


ALTER TABLE type_vs_type OWNER TO fkliesnbfbnpjw;

--
-- Name: type_vs_type_vs_id_seq; Type: SEQUENCE; Schema: public; Owner: fkliesnbfbnpjw
--

CREATE SEQUENCE type_vs_type_vs_id_seq
    AS smallint
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE type_vs_type_vs_id_seq OWNER TO fkliesnbfbnpjw;

--
-- Name: type_vs_type_vs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER SEQUENCE type_vs_type_vs_id_seq OWNED BY type_vs_type.vs_id;


--
-- Name: badges badge_id; Type: DEFAULT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY badges ALTER COLUMN badge_id SET DEFAULT nextval('badges_badge_id_seq'::regclass);


--
-- Name: element_types type_id; Type: DEFAULT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY element_types ALTER COLUMN type_id SET DEFAULT nextval('element_types_type_id_seq'::regclass);


--
-- Name: moves move_id; Type: DEFAULT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY moves ALTER COLUMN move_id SET DEFAULT nextval('moves_move_id_seq'::regclass);


--
-- Name: pokemon pokemon_id; Type: DEFAULT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY pokemon ALTER COLUMN pokemon_id SET DEFAULT nextval('pokemon_pokemon_id_seq'::regclass);


--
-- Name: trainers trainer_id; Type: DEFAULT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY trainers ALTER COLUMN trainer_id SET DEFAULT nextval('trainers_trainer_id_seq'::regclass);


--
-- Name: type_vs_type vs_id; Type: DEFAULT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY type_vs_type ALTER COLUMN vs_id SET DEFAULT nextval('type_vs_type_vs_id_seq'::regclass);


--
-- Data for Name: badges; Type: TABLE DATA; Schema: public; Owner: fkliesnbfbnpjw
--

COPY badges (badge_id, badge_name, effect, req_wins) FROM stdin;
1	Boulder	1.04999995	5
2	Cascade	1.10000002	15
3	Thunder	1.14999998	30
4	Rainbow	1.20000005	50
5	Soul	1.25	75
6	Marsh	1.29999995	100
7	Volcano	1.35000002	150
8	Earth	1.5	250
\.


--
-- Data for Name: element_types; Type: TABLE DATA; Schema: public; Owner: fkliesnbfbnpjw
--

COPY element_types (type_id, type_name) FROM stdin;
1	normal
2	fire
3	water
4	electric
5	grass
6	ice
7	fighting
8	poison
9	ground
10	flying
11	psychic
12	bug
13	rock
14	ghost
15	dragon
\.


--
-- Data for Name: jsontext; Type: TABLE DATA; Schema: public; Owner: fkliesnbfbnpjw
--

COPY jsontext (id, jtext) FROM stdin;
2	{"slot":["Butter","Sugar","Brown Sugar","Eggs","Flour","Vanilla","Baking Powder","Chocolate Chips"],"first":"Scott","last":"Tolman","address":"1734 Lakewood Dr","city":"Moberly","state":"MO","zip":"65270","instructions":"Get these things at Walmart"}
\.


--
-- Data for Name: moves; Type: TABLE DATA; Schema: public; Owner: fkliesnbfbnpjw
--

COPY moves (move_id, move_name, element, power) FROM stdin;
\.


--
-- Data for Name: pokemon; Type: TABLE DATA; Schema: public; Owner: fkliesnbfbnpjw
--

COPY pokemon (pokemon_id, poke_name, xp, lvl_up, level, stat_points, type_1, hp, attack, defense, speed, trainer) FROM stdin;
2	Squirtle	10	21	1	0	water	10	2	2	6	Gary
1	Oddish	20	21	1	0	grass	5	8	4	3	Scott
3	WarTortle	10	21	1	0	water	10	2	2	6	Gary
4	Blastoise	10	21	1	0	water	10	2	2	6	Gary
\.


--
-- Data for Name: trainers; Type: TABLE DATA; Schema: public; Owner: fkliesnbfbnpjw
--

COPY trainers (trainer_id, name, password, badge, wins, pokemon_1, pokemon_2, pokemon_3) FROM stdin;
1	Scott	$2y$10$zyuxdbKvkjxe2ReyZU/RteXyQHxIL2jm1pW.tK1y7toCGJ4K2FVLi	\N	0	Oddish	Oddish	Oddish
2	Gary	$2y$10$nO4QqPUPSSLI/vjoU7rfFeAFt5mcZDWdsmbT3fFc427jbDpR2HhPi	\N	0	Squirtle	WarTortle	Blastoise
\.


--
-- Data for Name: type_vs_type; Type: TABLE DATA; Schema: public; Owner: fkliesnbfbnpjw
--



--
-- Name: badges_badge_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fkliesnbfbnpjw
--

SELECT pg_catalog.setval('badges_badge_id_seq', 8, true);


--
-- Name: element_types_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fkliesnbfbnpjw
--

SELECT pg_catalog.setval('element_types_type_id_seq', 15, true);


--
-- Name: moves_move_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fkliesnbfbnpjw
--

SELECT pg_catalog.setval('moves_move_id_seq', 1, false);


--
-- Name: pokemon_pokemon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fkliesnbfbnpjw
--

SELECT pg_catalog.setval('pokemon_pokemon_id_seq', 4, true);


--
-- Name: trainers_trainer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fkliesnbfbnpjw
--

SELECT pg_catalog.setval('trainers_trainer_id_seq', 2, true);


--
-- Name: type_vs_type_vs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fkliesnbfbnpjw
--

SELECT pg_catalog.setval('type_vs_type_vs_id_seq', 225, true);


--
-- Name: badges badges_badge_name_key; Type: CONSTRAINT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY badges
    ADD CONSTRAINT badges_badge_name_key UNIQUE (badge_name);


--
-- Name: badges badges_pkey; Type: CONSTRAINT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY badges
    ADD CONSTRAINT badges_pkey PRIMARY KEY (badge_id);


--
-- Name: element_types element_types_pkey; Type: CONSTRAINT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY element_types
    ADD CONSTRAINT element_types_pkey PRIMARY KEY (type_id);


--
-- Name: element_types element_types_type_name_key; Type: CONSTRAINT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY element_types
    ADD CONSTRAINT element_types_type_name_key UNIQUE (type_name);


--
-- Name: moves moves_move_name_key; Type: CONSTRAINT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY moves
    ADD CONSTRAINT moves_move_name_key UNIQUE (move_name);


--
-- Name: moves moves_pkey; Type: CONSTRAINT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY moves
    ADD CONSTRAINT moves_pkey PRIMARY KEY (move_id);


--
-- Name: pokemon pokemon_pkey; Type: CONSTRAINT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY pokemon
    ADD CONSTRAINT pokemon_pkey PRIMARY KEY (pokemon_id);


--
-- Name: pokemon pokemon_poke_name_key; Type: CONSTRAINT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY pokemon
    ADD CONSTRAINT pokemon_poke_name_key UNIQUE (poke_name);


--
-- Name: trainers trainers_name_key; Type: CONSTRAINT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY trainers
    ADD CONSTRAINT trainers_name_key UNIQUE (name);


--
-- Name: trainers trainers_pkey; Type: CONSTRAINT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY trainers
    ADD CONSTRAINT trainers_pkey PRIMARY KEY (trainer_id);


--
-- Name: type_vs_type type_vs_type_pkey; Type: CONSTRAINT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY type_vs_type
    ADD CONSTRAINT type_vs_type_pkey PRIMARY KEY (vs_id);


--
-- Name: pokemon pokemon_trainer_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY pokemon
    ADD CONSTRAINT pokemon_trainer_fkey FOREIGN KEY (trainer) REFERENCES trainers(name) ON DELETE CASCADE;


--
-- Name: pokemon pokemon_type_1_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY pokemon
    ADD CONSTRAINT pokemon_type_1_fkey FOREIGN KEY (type_1) REFERENCES element_types(type_name);


--
-- Name: trainers trainers_badge_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY trainers
    ADD CONSTRAINT trainers_badge_fkey FOREIGN KEY (badge) REFERENCES badges(badge_name);


--
-- Name: trainers trainers_pokemon_1_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY trainers
    ADD CONSTRAINT trainers_pokemon_1_fkey FOREIGN KEY (pokemon_1) REFERENCES pokemon(poke_name);


--
-- Name: trainers trainers_pokemon_2_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY trainers
    ADD CONSTRAINT trainers_pokemon_2_fkey FOREIGN KEY (pokemon_2) REFERENCES pokemon(poke_name);


--
-- Name: trainers trainers_pokemon_3_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY trainers
    ADD CONSTRAINT trainers_pokemon_3_fkey FOREIGN KEY (pokemon_3) REFERENCES pokemon(poke_name);


--
-- Name: type_vs_type type_vs_type_attacked_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY type_vs_type
    ADD CONSTRAINT type_vs_type_attacked_fkey FOREIGN KEY (attacked) REFERENCES element_types(type_name);


--
-- Name: type_vs_type type_vs_type_attacker_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fkliesnbfbnpjw
--

ALTER TABLE ONLY type_vs_type
    ADD CONSTRAINT type_vs_type_attacker_fkey FOREIGN KEY (attacker) REFERENCES element_types(type_name);


--
-- Name: public; Type: ACL; Schema: -; Owner: fkliesnbfbnpjw
--

REVOKE ALL ON SCHEMA public FROM postgres;
REVOKE ALL ON SCHEMA public FROM PUBLIC;
GRANT ALL ON SCHEMA public TO fkliesnbfbnpjw;
GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- Name: plpgsql; Type: ACL; Schema: -; Owner: postgres
--

GRANT ALL ON LANGUAGE plpgsql TO fkliesnbfbnpjw;


--
-- PostgreSQL database dump complete
--

