#picture {
    position: relative;
    size: 80%;
    left: 10%;
}

#info {
    font-size: 18pt;
    padding-right: 20%;
    padding-left: 10%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(122, 153, 179);
}

h1 {
    padding-left: 10%;
}